@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;
}

body {
    background-color: var(--background-color);
}

input:-webkit-autofill {
    background-color: #f0f0f0 !important; /* Change to light gray */
    -webkit-text-fill-color: #000000 !important; /* Keep the text black */
    transition: background-color 5000s ease-in-out 0s;
}

.custom-placeholder::placeholder {
    font-size: 15px;
    font-weight: lighter;
    color: #6e6e6e;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease;
}


/* Add this to your CSS file */
.borderless-input {
    border: none;
    outline: none;
    box-shadow: none;
    /* This is to remove any default focus shadow */
}

.font-extra-extra-bold {
    font-weight: 900;
}